//Color code
$white-color:#ffffff;

//font family
$primary-font-family: 'nimbus-sans';

//Font size code
$small-font-size: 12px;
$default-font-size: 14px;

//Font-Weight code
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-strong: 500;
$font-weight-bold: 600;
